body {
    font-family: Arial, sans-serif;
    background-color: #eaeaea;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
}

.centered-container {
    text-align: center;
    width: 80%;
    max-width: 400px;
    border: 3px solid #f1f1f1;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.container {
    padding: 16px;
    text-align: left;
}

input[type=email], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #008CBA;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.9;
}
button:hover, input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover {
   
    transition: background-color 0.3s, box-shadow 0.3s;
}
.signup-link {
    text-align: center;
    margin-top: 15px;
}

.signup-link a {
    color: #008CBA;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .centered-container {
        width: 95%;
        max-width: none;
    }
}
