<!DOCTYPE html>
<html>
<head>
    <title>Pagina Principală</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>

    <div class="header-container">
        <div class="header-left">
            {% with messages = get_flashed_messages(category_filter=["info", "error"]) %}
            {% if messages %}
                {% for message in messages %}
                    <div class="flash-message">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <h1>Bine ai venit, <span id="username">{{ username }}</span></h1>
        <a href="/logout" class="logout-button">Logout</a>
        <button class="release-button" onclick="releaseSpot()">EliberareLoc</button>
    </div>

    <div class="parking-spots">
    {% for spot in parking_spots %}
        <div id="spot-{{ spot.spot_id }}" class="parking-spot {% if spot.is_reserved %}reserved{% endif %}" {% if not spot.is_reserved %}onclick="reserveSpot('{{ spot.spot_id }}')" {% endif %}>
            Locul {{ spot.spot_id }} {% if spot.is_reserved %}(Rezervat de {{ spot.license_number }}){% else %}(Disponibil){% endif %}
        </div>
    {% endfor %}
    </div>

    <script>
        function reserveSpot(spotId) {
            window.location.href = '/reserve/' + spotId;
        }

        function releaseSpot() {
            const decision = confirm("Doriți să eliberați locul de parcare rezervat?");
            if (decision) {
                window.location.href = '/release';
            }
        }
    </script>

    <script>
        // Function to hide flash messages
        function hideFlashMessages() {
            var messages = document.querySelectorAll('.flash-message');
            messages.forEach(function(message) {
                setTimeout(function() {
                    message.style.display = 'none';
                }, 3000); // 
            });
        }

        // Run the function when the page loads
        window.onload = function() {
            hideFlashMessages();
        };
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        var socket = io.connect('https://271c-95-76-207-177.ngrok-free.app/');

        socket.on('update_parking_spot', function(data) {
            var spotElement = document.getElementById("spot-" + data.spot_id);
            if (spotElement) {
                var statusText = 'Locul ' + data.spot_id;
                if (data.status === 'reserved') {
                    spotElement.classList.add('reserved');
                    spotElement.removeAttribute('onclick');
                    statusText += ' (Rezervat de ' + data.license_number + ')';
                } else {
                    spotElement.classList.remove('reserved');
                    spotElement.setAttribute('onclick', 'reserveSpot("' + data.spot_id + '")');
                    statusText += ' (Disponibil)';
                }
                spotElement.textContent = statusText;
            }
        });

        socket.on('spot_released', function(data) {
        var spotElement = document.getElementById("spot-" + data.spot_id);
        if (spotElement) {
            var statusText = 'Locul ' + data.spot_id + ' (Disponibil)';
            spotElement.classList.remove('reserved');
            spotElement.setAttribute('onclick', 'reserveSpot("' + data.spot_id + '")');
            spotElement.textContent = statusText;
        }
    });
    </script>

</body>
</html>
