<!DOCTYPE html>
<html>
<head>
    <title>Pagina Principală</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
    <script src="../static/js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>

    <div class="header-container">
        <div class="header-left">
            {% with messages = get_flashed_messages(category_filter=["info", "error"]) %}
            {% if messages %}
                {% for message in messages %}
                    <div class="flash-message">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <h1>Bine ai venit, <span id="username">{{ username }}</span></h1>
        <a href="/logout" class="logout-button">Logout</a>
        <button class="release-button" onclick="releaseSpot()">EliberareLoc</button>
    </div>

    <div class="parking-spots">
    {% for spot in parking_spots %}
        <div id="spot-{{ spot.spot_id }}" class="parking-spot {% if spot.is_reserved %}reserved{% endif %}" {% if not spot.is_reserved %}onclick="reserveSpot('{{ spot.spot_id }}')" {% endif %}>
            Locul {{ spot.spot_id }} {% if spot.is_reserved %}(Rezervat de {{ spot.license_number }}){% else %}(Disponibil){% endif %}
        </div>
    {% endfor %}
    </div>
    
</body>
</html>
